*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
table{
    width:100%;
    max-width: 900px;
    table-layout: fixed;
    margin:auto;
    margin-top: 30px;
    background-color: #f5eded;
    box-shadow: 2px 2px 10px black;
}
table,th,td{
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
img{
    width: 70%;
    max-width: 500px;
    border-radius: 50%;
}
.heading{
    background-color: rgb(58, 143, 152);
}
.subHeading{
    background-color: rgb(149, 189, 191);
}
.second{
    background-color: rgb(220, 224, 224);
}
body{
    background-color: aquamarine;
}
